.main {
    width: 100%;
    min-height: 85vh;
    background: url('../../../public/main-back.jpg') center no-repeat;
    background-size: cover;

    padding-top: 70px;
    
}

.main-menu {
    width: 85%;
    margin: 0 auto;
    border-radius: 10px;

    height: 60vh;
    background-color: rgba(17, 15, 104, 0.7);

    box-shadow: 0 0 5px rgb(148, 148, 148);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    text-align: center;
    animation: start-animation 1s ;
}

.main-menu__title {
    color: white;
    font-family: 'Montserrat';
    font-weight: 500;
    text-transform: uppercase;
    animation: start-animation 2s ;
}

.main-menu__text {
    color: white;
    text-transform: uppercase;
    font-family: 'Montserrat';
}

.main-menu__links {
    width: 70%;

    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.main-menu__link {
    color: white;
    transition: .1s linear;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 22px;
    background-color: rgb(0, 170, 212);
    font-family: 'Montserrat';
    padding: 10px 15px;

    box-shadow: 0 0 5px black;
    text-shadow: 0 0 5px black;
    border-radius: 10px;
}

.main-menu__link:hover {
    background-color: rgb(2, 10, 48);
    color: rgb(255, 255, 255);
}

@media screen and (max-width: 700px) {
    .main-menu__links {
        width: 70%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }

    .main-menu__link {
        margin: 3% auto;
    }
}

@keyframes start-animation {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}